#Ports
GATEWAY_PORT=3000


# Databases connection strings
USERS_DATABASE_URL=postgresql://raunogroch-pg:Passw0rd.3315@192.168.100.28:5432/usersdb_productions
ASSIGNMENTS_DATABASE_URL=postgresql://raunogroch-pg:Passw0rd.3315@192.168.100.28:5432/assignmentsdb_production
CLUBS_DATABASE_URL=postgresql://raunogroch-pg:Passw0rd.3315@192.168.100.28:5432/clubsdb_production
GROUPS_DATABASE_URL=postgresql://raunogroch-pg:Passw0rd.3315@192.168.100.28:5432/groupsdb_production


#JWT secret key
JWT_SECRET=EsT0D3betterTh4nThis