clubs-assignments-microservice/
clubs-clubs-microservice/
clubs-gateway-microservice/
clubs-groups-microservice/
clubs-users-microservice/
clubs-storage-microservice/
postgres_data/
storage_data/

.env